<a href="https://colab.research.google.com/github/sivasamynivas/ABSOLUTE-BEGINNER-PYTHON-PROGRAM-/blob/main/ABSOLUTE_BEGINNER_PYTHON_PROGRAM_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1-You are provided with a number check whether its odd or even. 

Print "Odd" or "Even" for the corresponding cases.

Note: In case of a decimal, Round off to nearest integer and then find the output. Incase the input is zero, print "Zero".

Input Description:
A number is provided as the input.

Output Description:
Find out whether the number is odd or even. Print "Odd" or "Even" for the corresponding cases. Note: In case of a decimal, Round off to nearest integer and then find the output. In case the input is zero, print "Zero".

Sample Input :
2
Sample Output :
Even

In [ ]:
A=int(input( ))
if A==0:
  print("Zero")
elif A%2==0:
  print("Even")
else:
  print("Odd")

2-You are given with a number A i.e. the temperature in Celcius. Write a program to convert this into Fahrenheit. 

Note: In case of decimal values, round-off to two decimal places.

Input Description:
A number is provided in Celcius as the input of the program.

Output Description:
The output shall be the temperature converted into Fahrenheit corresponding to the input value print up to two decimal places and round off if required.

Sample Input :
12
Sample Output :
53.60

In [ ]:
 A=int(input())
B=int(input())
C=int(input())
D=[A,B,C]
E=max(D)
print(E)

3-You are given three numbers A, B & C. Print the largest amongst these three numbers.

Input Description:
Three numbers are provided to you.

Output Description:
Find and print the largest among the three

Sample Input :
1
2
3
Sample Output :
3

In [ ]:
A=int(input())
B=int(input())
C=int(input())
D=[A,B,C]
E=max(D)
print(E)

4-You are given A = Length of a rectangle & B = breadth of a rectangle. Find its area “C”.

(A and B are natural numbers)

Input Description:
The inputs are two natural numbers representing the length and the breadth of a rectangle.

Output Description:
Find the area of the rectangle formed by the provided input. Round off the answer to the first decimal place if required.

Sample Input :
2
3
Sample Output :
6

In [ ]:
A=float(input())
B=float(input())
C=A*B
D=round(C,1)
print(D)

5-You are provided with two numbers. Find and print the smaller number.

Input Description:
You are provided with two numbers as input.

Output Description:
Print the small number out of the two numbers.

Sample Input :
23 1
Sample Output :
1

In [ ]:
A,B=list(map(int,input().split()))
print(min(A,B))

6-You are given with a number "N", find its cube.

Input Description:
A positive integer is provided.

Output Description:
Find the cube of the number.

Sample Input :
2
Sample Output :
8

In [ ]:
A=int(input())
B=A
C=B
D=A*B*C
print(D)

7-You are given Two Numbers, A and B. If C = A + B. Find C.

Note: Round off the output to a single decimal place.

Input Description:
You are provided with two numbers A and B.

Output Description:
Find the sum of the two numbers (A + B)

Sample Input :
1
1
Sample Output :
2

In [ ]:
A=int(input())
B=int(input())
C=A+B
print(C)

8-You are provided with a number, "N". Find its factorial.

Input Description:
A positive integer is provided as an input.

Output Description:
Print the factorial of the integer.

Sample Input :
2
Sample Output :
2

In [ ]:
import math
def fact(n):
  return(math.factorial(n))
n=int(input())
f=fact(n)
print(f)

9-You are given a number A in Kilometers. Convert this into B: Meters and C: Centi-Metres.

Input Description:
A number "A" representing some distance in kilometer is provided to you as the input.

Output Description:
Convert and print this value in meters and centimeters.

Sample Input :
2
Sample Output :
2000
200000

In [ ]:
A=int(input())
B=A*1000
C=B*100
print(B)
print(C)

10-Let "A"  be a string. Remove all the whitespaces and find it's length.

Input Description:
A string is provide as an input

Output Description:
Remove all the whitespaces and then print the length of the remaining string.

Sample Input :
Lorem Ipsum
Sample Output :
10

In [ ]:
import re
A=input()
B=re.sub(r'\s+','',A)
C=len(B)
print(C)

11-You are given with Principle amount($), Interest Rate(%) and Time (years) in that order. Find Simple Interest.

Print the output up to two decimal places (Round-off if necessary).

(S.I. = P*T*R/100)

Input Description:
Three values are given to you as the input. these values correspond to Principle amount, Interest Rate and Time in that particular order.

Output Description:
Find the Simple interest and print it up to two decimal places. Round off if required.

Sample Input :
1000 2 5
Sample Output :
100.00

In [ ]:
A,B,C=list(map(float,input().split()))
D=A*B*C
E=D/100
F=round(E,2)
print(F)

12-You are given the coefficients of a quadratic equation in order A, B & C.

Where A is the coefficient of X2,  B is the coefficient of X and C is the constant term in the most simplified form.

Example: For  X2 + 5X + 6 = 0, you are given the input as: 1 5 6.

Write a program to find all of the roots of the quadratic.

Note: The output should be up to 2nd decimal place (round off if needed) and in case of a recurring decimal use braces i.e. for eg: 0.33333..... => 0.33.

Note: Use Shri Dharacharya's Method to solve i.e. X = {-b + √(b² - 4ac) } / 2a & {-b-√(b² -4ac)} / 2a

Input Description:
Three numbers corresponding to the coefficients of x(squared), x and constant are given as an input in that particular order

Output Description:
Print the two values of X after rounding off to 2 decimal places if required.

Sample Input :
1 5 6
Sample Output :
-2.00
-3.00

In [ ]:
import math 
A,B,C=list(map(int,input().split()))
D=B*B
E=4*A*C
F=D-E
G=math.sqrt(F)
H=-B+G
L=2*A
I=H/L
J=-B-G
K=J/L
print("%.2f"%I)
print("%.2f"%K)

13-Write a code to get an integer N and print values from 1 till N in a separate line.

Input Description:
A single line contains an integer N.

Output Description:
Print the values from 1 to N in a separate line.

Sample Input :
5
Sample Output :
1
2
3
4
5

In [ ]:
A=int(input())
I=1
while I<=A:
  print(I)
  I=I+1

14-Print the First 3 multiples of the given number "N". (N is a positive integer)

Note: print the characters with a single space between them.

Input Description:
A positive integer is provided to you as an input.

Output Description:
Print the First 3 multiples of the number with single spaces between them as an output.

Sample Input :
2
Sample Output :
2 4 6

In [ ]:
A=int(input())
B=A*1
C=A*2
D=A*3
print(B,C,D)

15-Let "A" be a year, write a program to check whether this year is a leap year or not.

Print "Y" if its a leap year and "N" if its a common year.

Input Description:
A Year is the input in the form of a positive integer.

Output Description:
Print "Y" if its a leap year and "N" if its a common year.

Sample Input :
2020
Sample Output :
Y

In [ ]:
A=int(input())
if A%4==0:
  print("Y")
else:
  print("N")

16-Write a code to get an integer N and print the even values from 1 till N in a separate line.

Input Description:
A single line contains an integer N.

Output Description:
Print the even values from 1 to N in a separate line.

Sample Input :
6
Sample Output :
2
4
6

In [ ]:
N=int(input())
for i in range(2,N+1,2):
  print(i,end="\n")

17-The area of an equilateral triangle is ¼(√3a2) where "a" represents a side of the triangle. You are provided with the side "a". Find the area of the equilateral triangle.

Input Description:
The side of an equilateral triangle is provided as the input.

Output Description:
Find the area of the equilateral triangle and print the answer up to 2 decimal places after rounding off.

Sample Input :
20
Sample Output :
173.21

In [ ]:
A=int(input())
B=A*A
C=((1.73205/4)*B)
D=(round(C,2))
print(D)

18-Write a code to get an integer N and print the digits of the integer.

Input Description:
A single line contains an integer N.

Output Description:
Print the digits of the integer in a single line separated by space,

Sample Input :
348
Sample Output :
3 4 8

In [ ]:
n=int(input())
s=str(n)
a=(" ".join(s))
print(a)

19-You are provided with a number "N", Find the Nth term of the series: 1, 4, 9, 16, 25, 36, 49, 64, 81, .......

(Print "Error" if N = negative value and 0 if N = 0).

Input Description:
An integer N is provided to you as the input.

Output Description:
Find the Nth term in the provided series.

Sample Input :
18
Sample Output :
324

In [ ]:
N=int(input())
if N<0:
    print("ERROR")
elif N==0:
     print("0")
else:
    print(N**2)

20-Write a code to get 2 integers A and N. Print the integer A, N times in separate line.

Input Description:
First line contains an integer A. Second line contains an Integer N.

Output Description:
Print the integer A, N times in a separate line.

Sample Input :
2 3
Sample Output :
2
2
2

In [ ]:
A,N=list(map(int,input().split()))
I=1
while I<=N:
  print(A)
  I=I+1

21-Write a code get an integer number as input and print the odd and even digits of the number separately.

Input Description:
A single line containing an integer.

Output Description:
Print the even and odd integers of the integer in a separate line.

Sample Input :
1234
Sample Output :
2 4
1 3

In [ ]:
n=input()
s=str(n)
c=list(s)
e=sorted(c)
d=[int(i) for i in e]
even=[]
odd=[]
for i in d:
  if i%2==0:
    even.append(i)
for i in d:
  if i%2!=0:
    odd.append(i)
print(*sorted(even))
print(*sorted(odd))

22-You are provided with the radius of a circle "A". Find the length of its circumference.

Note: In case the output is coming in decimal, roundoff to 2nd decimal place. In case the input is a negative number, print "Error".

Input Description:
The Radius of a circle is provided as the input of the program.

Output Description:
Calculate and print the Circumference of the circle corresponding to the input radius up to two decimal places.

Sample Input :
2
Sample Output :
12.57

In [ ]:
A=float(input())
if A>0:
  B=2*3.1415*A
  C=round(B,2)
  print(C)
else:
  print("Error")

23-Write a code to get the input and print it 5 times.

Input Description:
A single line contains an integer N.

Output Description:
Output contains 5 lines with each line having the value N.

Sample Input :
4
Sample Output :
4
4
4
4
4

In [ ]:
A=int(input())
i=1
while i<=5:
  print(A)
  i=i+1

24-Write a code to get an integer N and print the values from N to 1.

Input Description:
A single line contains an integer N.

Output Description:
Print the values from N to 1 in a separate line.

Sample Input :
10
Sample Output :
10
9
8
7
6
5
4
3
2
1

In [ ]:
N=int(input())
for i in range(N,0,-1):
    print(i)

25-Write a program to get a string as input and reverse the string without using temporary variable.

Input Description:
A single line containing a string.

Output Description:
Print the reversed string.

Sample Input :
GUVI
Sample Output :
IVUG

In [ ]:
A=input()
print(A[: :-1])

26-You will be provided with a number. Print the number of days in the month corresponding to that number.

Note: In case the input is February, print 28 days. If the Input is not in valid range print "Error".

Input Description:
The input is in the form of a number.

Output Description:
Find the days in the month corresponding to the input number. Print Error if the input is not in a valid range.

Sample Input :
8
Sample Output :
31

In [ ]:
A=int(input())
if A==0:
  print("Error")
if A==1:
  print("31")
if A==2:
  print("28")
if A==3:
  print("31")
if A==4:
  print("30")
if A==5:
  print("31")
if A==6:
  print("30")
if A==7:
  print("31")
if A==8:
  print("31")
if A==9:
  print("30")
if A==10:
  print("31")
if A==11:
  print("30")
if A==12:
  print("31")
if A>12:
  print("Error")

27-Write a code to get 2 integers as input and find the HCF of the 2 integer without using recursion or Euclidean algorithm.

Input Description:
A single line containing 2 integers separated by space.

Output Description:
Print the HCF of the integers.

Sample Input :
2 3
Sample Output :
1

In [ ]:
x,y=map(int,input().split())
if x>y:
    smaller=y
else:
    smaller=x
for i in range(1,smaller+1):
    if ((x%i==0)and(y%i==0)):
        hcf=i
print(hcf)

28-Write a code to get an integer N and print the sum of  values from 1 to N.

Input Description:
A single line contains an integer N.

Output Description:
Print the sum of values from 1 to N.

Sample Input :
10
Sample Output :
55

In [ ]:
n=int(input())
a=[]
for i in range(1,n+1):
    a.append(i)
b=sum(a)
print(b)

29-Write a code get an integer number as input and print the sum of the digits.

Input Description:
A single line containing an integer.

Output Description:
Print the sum of the digits of the integer.

Sample Input :
124
Sample Output :
7

In [ ]:
def getSum(n):
    
    sum = 0
    for digit in str(n): 
      sum += int(digit)      
    return sum
   
n=int(input())
print(getSum(n))

30-Using the method of looping, write a program to print the table of 9 till N in the format as follows:
(N is input by the user)

9 18 27...

Print NULL if 0 is input

Input Description:
A positive integer is provided as an input.

Output Description:
Print the table of nine with single space between the elements till the number that is input.

Sample Input :
3
Sample Output :
9 18 27

In [ ]:
N=int(input())
A=[]
if N==0:
  print("NULL")
else:
  for i in range(1,N+1):
    A.append(i*9)
print(*A)